/* position */
* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

.nav {
	text-align: center;
}

.nav-link {
	padding: 0 20px;
	line-height: 50px;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
}

.section {
	width: 50%;
	padding: 20px;
}

.image {
	width: 30%;
	border-radius: 40px;
	padding: 20px;
}

.name {
	padding-left: 20px;
}

.footer {
	text-align: center;
}

.code-ex {
	width: 47%;
}

/* font styles */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	color: #404040;
}

.section-title {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #303030;
}

.name-title {
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #303030;

}

.name-description {
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.nav-link {
	font-size: 20px;
	text-decoration: none;
	color: #565656;
	transition: color 0.5s;
}

.nav-link:hover {
	color: #222222;
}

.link {
	text-decoration: none;
	color: #363643;
	transition: color 0.5s;
}

.link:hover {
	color: #222222;
}

/* background */
body {
	background: linear-gradient(#403e3e57, #c3baba57)
}

.header {
	background-color: #5049492c;
}

.code-ex {
	background-color: #9a9a9a5e;
}

.footer {
	background-color: #55545424;
}